/* VotingPage.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.voting-container {
  background: #feffffb3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position:relative;
  top: 20px;
  color: rgb(0, 0, 0);
  /* height: 40vh; */
  margin: auto;
  width: 400px;
  text-align: center;
}

h2 {
  color: #000000;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

.role-selection button {
  width: 100%;
  font-size: 16px;
}

.admin-panel, .student-panel {
  margin-top: 20px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  background: #dc3545;
  width: 65px;
}

li button:hover {
  background: #a71d2a;
}
